<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Custom Properties based Parallax</title>
		<!-- <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inknut+Antiqua:600|Roboto|Roboto+Condensed:700'> -->
		<link rel="stylesheet" href="assets/css/style2.css">

	</head>
	<body>
		<!-- partial:index.partial.html -->
		<main class="content js-content">

			<section class="block section-landing">
				<figure class="item-parallax-media">
					<img src="assets/imgs/Tob_img/LV_W/LV_wrap/LV_W_P_002.jpg" alt="" />
				</figure>
				<div class="item-parallax-content flex-container">
					<div class="landing-content centered-content">
						<h1 class="head-large">Tide of Business</h1>
						<!-- <h3 class="head-large">潮易</h3> -->
					</div>
				</div>
			</section>

			<section class="block section-intro">
				<div class="item-parallax-content flex-container">
					<div class="centered-content">
						<h2 class="head-small head-centered">Tide of Business</h2>
						<h3 class="head-small head-centered">潮易</h3>
						<p class="copy copy-white">
							真正的收藏是独居眼光的，在平凡的事物中发现独特的美。LV用时尚的包包配上潮流的衣服展示了什么是气质的美；古驰用大胆的配色加上独特的设计展示了什么是颜色的美；圣罗兰用稀有的材料加上高超的工艺展示了什么是口红的美；Nike用简约的配色加上NBA角色的衬托诠释了什么是运动精神的美······
						</p>
						<p class="copy copy-white">
							潮流永远诞生于人们独特的眼光，基于美的展现。而潮易是潮流的引领者，是美的传递者和发现者。潮易是什么？潮易就是每一个独特的你，每一个发现美的人。爱上潮易，发现美！
						</p>
					</div>
				</div>
			</section>

			<section class="block section-part">
				<figure class="item-parallax-media">
					<img src="assets/imgs/Tob_img/LV_M/LV_wrap/LV_M_P_001.jpg" alt="" />
				</figure>
				<div class="item-parallax-content flex-container">
					<div class="centered-content">
						<h1 class="head-large head-centered">Based<br/>on beauty</h1>
						<p class="copy copy-white">
							美是发现世界的一种方式，更是人们发现生活的一种方式。用美去感受生活，潮流引领未来。
						</p>
					</div>
				</div>
			</section>

			<section class="block">
				<div class="item-parallax-content flex-container img-grid">
					<figure class="img-gridItem type-right">
						<img src="assets/imgs/Tob_img/self/boy.jpg" alt="" />
						<figcaption class="img-caption">
							<h2 class="head-small">廖世杰</h2>
							<p class="copy copy-white">
								一个man和一个男孩最大的区别就是，一个真正的man明白自己该做什么。
							</p>
						</figcaption>
					</figure>
					<figure class="img-gridItem type-left">
						<img src="assets/imgs/Tob_img/self/man.jpg" alt="" />
						<figcaption class="img-caption">
							<h2 class="head-small">王嘉鑫</h2>
							<p class="copy copy-white">
								一个man和一个男孩最大的区别就是，一个真正的man明白自己该做什么。
							</p>
						</figcaption>
					</figure>
					<figure class="img-gridItem type-right">
						<img src="assets/imgs/Tob_img/self/猫.jpg" alt="" />
						<figcaption class="img-caption">
							<h2 class="head-small">陈天宇</h2>
							<p class="copy copy-white">
								一个man和一个男孩最大的区别就是，一个真正的man明白自己该做什么。
							</p>
						</figcaption>
					</figure>
					<figure class="img-gridItem type-left">
						<img src="assets/imgs/Tob_img/self/老鼠.jpg" alt="" />
						<figcaption class="img-caption">
							<h2 class="head-small">邹涵</h2>
							<p class="copy copy-white">
								一个man和一个男孩最大的区别就是，一个真正的man明白自己该做什么。
							</p>
						</figcaption>
					</figure>
				</div>
			</section>

			<section class="block section-end">
				<figure class="item-parallax-media">
					<img src="assets/imgs/Tob_img/LV_M/LV_wrap/LV_M_P_002.jpg" alt="" />
				</figure>
				<div class="item-parallax-content flex-container">
					<div class="landing-content centered-content">
						<h1 class="head-large">TO a 'Tob'</h1>
					</div>
				</div>
			</section>

			<section class="custom-properties-ftw">
				<h3 class="head-small head-centered">Leading the Trend</h3>
			</section>
		</main>
		<!-- partial -->
		<script src="assets/js/script.js"></script>
	</body>
</html>
